html {
  height: 100%;
}

body {
  margin: 0;
  color: black;
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

input:disabled {
  outline: none;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

// how come shake problems
input {
  padding: 0;
}

button, input[type='submit'] {
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  background: none;
  font-size: inherit;
}