/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "base/*";
@import "pages/*";
@import "patterns/*";



.off-canvas-wrap {
  position: relative;
  /* overflow hidden simulates body margin */
  overflow: hidden;
}

.inner-wrap {
  /* canvas is position absolute */
  position: relative;
  transition: transform 500ms ease;
}

.move-right {
  transform: translate(14rem, 0);
}

.left-off-canvas-menu {
  overflow-x: hidden;
  overflow-y: auto;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  transform: translate(-100.5%, 0);
  transition: transform 500ms ease 0s;

  width: 14rem;
  z-index: 1001;
}




/* STYLING */

.inner-wrap {
  background: #efefef;
}

.left-off-canvas-menu {
  background: #333333;
}

a {
  color: #008CBA;
}