<!DOCTYPE html>
<html>
<head>
  <title>CompuGlobalHyperMegaNet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="off-canvas-wrap">
  <div class="inner-wrap js-inner-wrap">
    <!-- Off Canvas Menu -->
    <div class="left-off-canvas-menu">
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>
    </div>
    <a class="js-left-off-canvas-toggle" aria-expanded="false">Menu</a>
    <%= yield %>
  </div>
</div>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
